* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.main {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 30px;
    font-size: 15px;
}

.main>input {
    width: 300px;
    height: 30px;
    /* display:flex; */
    /* border-radius: 3px; */
    /* border: 1px solid gray; */
    padding: 5px;
    font-size: 15px;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid gray;
    font-size: 15px;
    cursor: pointer;
}

.fie{
    display: none;
    margin-top: -5px;
}

.fie p{
    color: red;
    margin-top: -5px;
}

.add{
    border: 1px solid blue;
}