  * {
      margin: 0 auto;
      padding: 0;
  }

  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .first {
      width: 500px;
      height: 400px;

      background-color: rgb(66, 168, 168);
      border-radius: 30px;
  }

  .first h1 {
      padding: 15px;
      margin-top: 50px;
      text-align: center;
  }

  input {
      align-content: center;
      margin-left: 80px;
      width: 200px;
      margin-top: 50px;
      margin-left: 140px;
      height: 20px;
      border-radius: 5px;
      padding: 10px;
      font-size: 20px;
  }

  input:focus {
      color: rgb(111, 112, 112);
  }

  .second {
      width: 300px;
      height: 200px;
      /* border: 1px solid red; */
      display: flex;
      margin-top: 20px;
      row-gap: -19px;
  }

  .second button:first-child {
      width: 90px;
      height: 30px;
      border-radius: 2px;
      background-color: rgb(145, 188, 44);
      cursor: pointer;
  }

  button:hover {
      background-color: aquamarine;
  }

  button[type="button"] {
      background-color: darkgrey;
      align-content: center;
      width: 90px;
      height: 30px;
      box-shadow: inset;

  }